<div class="w-screen h-screen fixed top-0 left-0 right-0 bottom-0 flex justify-center">
    <div class="w-[20%] h-full bg-secondary px-6">
        <div class="h-[10%] w-full flex items-center justify-center">
            <p class="text-xl font-bold text-black">Dashboard Works!</p>
        </div>
        <div class="h-[90%] w-full">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div class="w-[80%] h-full">
        <div class="w-full h-[10%] bg-white">
            <app-header></app-header>
        </div>
        <div class="w-full h-[90%] bg-white py-3 px-4 grid grid-cols-4 grid-rows-4 gap-4">
            <div class="col-span-3 row-span-1">
                <app-mini-card></app-mini-card>
            </div>
            <div class="col-span-1 row-span-3">
                <app-piggy-bank></app-piggy-bank>
            </div>
            <div class="col-span-3 row-span-2 bg-teal-500">

            </div>
            <div class="col-span-3 row-span-1 bg-yellow-500">

            </div>
            <div class="col-span-1 row-span-1 bg-black">

            </div>
        </div>
    </div>
</div>